/* Reset */
.row{
    margin-left: 0;
    margin-right: 0;
}

section{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    top: 110px;
    overflow: hidden;
}

.is-hidden{
    display: none;
}

/* Text Color */
.text-white{
    color: white;
}
.text-gray-light{
    color: rgba(85, 85, 85, 1);
}
.text-gray-xlight{
    color: rgba(148, 148, 148, 1);
}
.text-blue-dark{
    color: rgba(14, 57, 100, 1);
}
.text-blue-light{
    color: rgba(43, 191, 228, 1);
}

/* Text Size */
.text-size-lg{
    font-size: 15px;
}
.text-size-xl{
    font-size: 25px;
}
.text-bold{
    font-weight: bold;
}

/* Container color */
.container-blue-dark{
    background-color: rgba(14, 57, 100, 1);
}
.container-blue-light{
    background-color: rgba(43, 191, 228, 1);
}

