.record-canvas{
    position: relative;
    height: 100%;
}

#record-section {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    top: 230px;
    overflow: hidden;
    height: 840px !important;
}


/* Carousel Photos */
.record-carousel-photos{
    position: absolute;
    overflow: hidden;
    top: 40px;
    left: 40px;
    bottom: 80px;
    right: 60%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;

}
/* Record Ribbon */
.record-tile-ribbon{
    position: absolute;
    top: 60px;
    right: -60px;
    width: 250px;
    transform: rotate(45deg);
    text-align: center;
    height: 25px;
    padding-top: 4px;
}



/* Info details */
.record-info-details{
    position: absolute;
    top: 40px;
    right: 40px;
    bottom: 80px;
    left: 41%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);

}

.record-info-description{
    margin-bottom: 5px;
}



.record-carousel-photos .inner {
    display: inline-block;
    position:relative;
    padding: 0;
    /*right: -50%;*/
}


.record-carousel-photos img {
    width: 100%;
    height: 620px;
    margin-left: auto;
    position:relative;
    /*left:-50%;*/
}

/* Contact button */
/* #filter button */
.record-contact-btn{
    position: absolute;
    right: 15px;
    bottom: -20px;
    padding: 7px;
    display: grid;
    text-align: center;
    cursor: pointer;
    width: 385px;
}
.record-contact-btn-arrow-left {
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-bottom: 8px solid transparent;
    border-right:9px solid rgba(14, 57, 100, 1);
    position: absolute;
    left: -9px;
    bottom: 0px;
}
.record-contact-btn-arrow-right {
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-bottom: 8px solid transparent;
    border-left:9px solid rgba(14, 57, 100, 1);
    position: absolute;
    right: -9px;
    bottom: 0px;
}
#record-contact-chevron{
    position: absolute;
    right: 20px;
    top: 20px;
}

.record-contact-opened{
    height: 440px;
	
}

.hidden{
    display: none;
}


/* Properties Table */
.record-info-properties{
    margin-top: 20px;
}
th{
    padding-top: 20px;
    padding-left: 15px;
    border-right: 1px solid gray;
}
th:not(:nth-of-type(4)){
    width: 20%;
}
th:nth-of-type(4){
    width: 20%;
    border-right: 0 ;
}
td{
    padding-left: 15px;
    border-right: 1px solid gray;
}
td:nth-of-type(4){
    border-right: 0 ;
}

/* Icon properties */
.record-info-icons{
    position: absolute;
    bottom: 10px;
    zoom: 0.9;
	width: 550px!important;
	
}
.record-property-group{
    position: relative;
	width: 75px !important;
	 margin-right: 15px;
}

.record-property-group > img{
	width: 75px !important;
    height: 75px !important;

}
.record-info-icons img{
    width: 60px;
}
.properties-generic{
    position: absolute;
    color: white;
    top: 15px;
    left: 35px;
    font-size: 10px;
}
.property-energy {
    position: absolute;
    color: white;
    top: 20px;
    left: 0px;
    font-size: 20px;
    width: 100%;
    text-align: center;
}
.property-area{
    position: absolute;
    color: white;
    top: 15px;
    left: 20px;
    font-size: 8px;
}
.area_small_icon > .property-area {
	top: 15px;
	left: 25px !important;
}
/* Contact details */
#record-contact-details{
    position: absolute;
    top: 30px;
}
.contact-photo img{
    width: 50%;
    margin: 0 auto;
    border-radius: 90px;
	 margin-bottom: 25px !important;
}
.contact-divider{
    border-top: 1px solid white;
    width: 80%;
}
