.nav{
    position: relative;
    border-top: 20px solid rgba(15, 57, 99, 1);
    background-color: white;
    -webkit-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
}
.nav-border-thin{
    background-color: rgba(43, 191, 228, 1);
    width: 100%;
    height: 3px;
}
.nav-border-thin.at-bottom{
    position: fixed;
    bottom: 0;
    height: 6px;
}
/* Components inside of navigator */
/* #logo */
.nav-logo{
    margin: 10px 60px;
}
.nav-logo img{
    width: 280px;
}

/* #selection */
.nav-selection{
    padding: 15px;
}

/* #filter button */
.nav-filter-btn{
    position: absolute;
    right: 50px;
    bottom: -8px;
    padding: 3px 30px;
    display: grid;
    text-align: center;
    cursor: pointer;
}
.nav-filter-btn-arrow-left {
    width: 0; 
    height: 0; 
    border-top: 0 solid transparent;
    border-bottom: 8px solid transparent;     
    border-right:9px solid rgba(14, 57, 100, 1); 
    position: absolute;
    left: -9px;
    bottom: 0px;
}
.nav-filter-btn-arrow-right {
    width: 0; 
    height: 0; 
    border-top: 0 solid transparent;
    border-bottom: 8px solid transparent;     
    border-left:9px solid rgba(14, 57, 100, 1); 
    position: absolute;
    right: -9px;
    bottom: 0px;
}

/* #filters container */
.nav-filter-group{
    position: relative
    
}
.nav-filter-container{
    position: absolute;
    right: 50px;    
    width: 330px;
    top: 130px;    
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
}
.nav-filter-container-arrow-up{
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid rgba(255, 255, 255, 0.4);;
    top: -25px;
    right: 44px;
}
.nav-filter-dropdown{
    cursor: pointer;
    background-color: white;
    margin: 10px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.dropdown-menu{
    top: 0px !important;
    left: -15px !important;
    border-radius: 0;
    width: 100% !important;
    background-clip: none;
    border:none;
}
.dropdown-item{
    padding: 5px 15px;
    color: rgba(148, 148, 148, 1);
}
.dropdown-item:hover{
    padding: 5px 15px;
    color: rgba(43, 191, 228, 1);
    background-color: white;
}
.dropdown-hr{
    margin: 0px 15px;
}

.nav-search-btn{
    cursor: pointer;
    text-align: center;
    margin: 30px;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    padding-top: 5px;
    margin: 20px auto;
}


/* Back Button */
.nav-back-btn{    
    top: 18px;
    height: 30px;    
    position: absolute;
    right: 50px;
    bottom: -8px;
    padding: 3px 30px;
    /* display: grid;  must be grid when shown*/
    text-align: center;
    cursor: pointer;
    display: none;
}